@page
@model Nechita_Carina_Proiect.Pages.Imprumuturi.DeleteModel

@{
    ViewData["Title"] = "";
}

<h1>Sterge</h1>

<h3>Esti sigur ca doresti sa stergi creditul?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imprumut.data_inceput)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imprumut.data_inceput)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imprumut.data_final)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imprumut.data_final)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imprumut.durata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imprumut.durata)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imprumut.suma_imprumutata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imprumut.suma_imprumutata)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imprumut.suma_datorata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imprumut.suma_datorata)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imprumut.Cont)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imprumut.Cont.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imprumut.TipImprumut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imprumut.TipImprumut.descriere)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Imprumut.ID" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista creditelor</a>
    </form>
</div>
