@page
@model Nechita_Carina_Proiect.Pages.Clienti.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.CNP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.CNP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.data_nasterii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.data_nasterii)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.ocupatie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.ocupatie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.data_inscrierii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.data_inscrierii)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.TipClient.descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.TipClient.descriere)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.ID">Modifica</a> |
    <a asp-page="./Index">Inapoi la lista clientilor</a>
</div>
