@page
@model Nechita_Carina_Proiect.Pages.Conturi.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Cont</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cont.sold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cont.sold)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cont.data_deschiderii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cont.data_deschiderii)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cont.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cont.Client.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cont.TipContBancar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cont.TipContBancar.descriere)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cont.ID">Modifica</a> |
    <a asp-page="./Index">Inapoi la lista clientilor</a>
</div>
